.laco {
    height: 200px;
    &__mau1 {

        height: 100px;
    }
    &__mau2 {
 
        height: 100px;

    }
    &__mau3 {
 
        height: 100px;

    }
}
@media only screen and (max-width: 576.98px) { 
.laco{
    &__mau1{ background-color: green;}
    &__mau2{ background-color:blue;}
    &__mau3{ background-color: red;}
    }
 }
 @media only screen and (max-width: 768.98px) {
.laco{
    &__mau1{ background-color: blue;}
    &__mau2{ background-color: red;}
    &__mau3{background-color: green;}
    }
 }
 @media only screen and (max-width: 1299.98px ) {
.laco{
    &__mau1{ background-color: red;}
    &__mau2{ background-color: blue;}
    &__mau3{background-color: green;}
    }   
 }
